<!DOCTYPE html>
<html>
  <head>
    <title>FILE UPLOAD DEMO</title>
  </head>

  <body>
    <h1>Hi There,</h1>

    <form action="/api/upload" enctype="multipart/form-data" method="POST">
      <span>Select File To Upload</span>
      <button
        style="display: block; width: 100px; height: 30px; margin: 10px"
        onclick="document.getElementById('getFile').click()"
      >
        Select File
      </button>
      <span>NOTE: If you have selected the file Click on Upload Button</span>
      <input
        type="file"
        name="photos"
        style="display: none"
        id="getFile"
        required
      /><br />
      <input type="submit" value="UPLOAD" />
    </form>
    <p>To See the List of Images Click on the Button</p>
    <form action="/api/getAll" method="POST" target="_blank">
      <input type="submit" value="Click Here" />
    </form>
  </body>
</html>
